@import '../../../styles/variables';

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modalContent {
        background: $color-secondary;
        padding: 2.5rem;
        border-radius: 0.5rem;
        position: relative;
        width: 70%;

        .closeButton {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            background: transparent;
            border: none;
            font-size: 2.3rem;
            cursor: pointer;
            color: $color-primary;

            &:active {
                transform: scale(0.95);
            }
        }
    }
}