@import '../../../styles/variables';

.messageContainer {
    display: inline-block;
    padding: 0.7rem;
    border: 0.1rem solid $color-tertiary;
    border-radius: 0.5rem;
    max-width: 75%;
    word-wrap: break-word;
    background-color: transparent;
    color: $color-text;
    font-size: 0.9rem;
}

.modal {
    max-width: 97%;
    font-size: 0.8rem;
}