@import '../../../styles/variables';

.container{
    width: 65%;
    margin: 2.5rem auto 0;

    .headerModal{
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.8rem;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;

        .headerModal{
            .modalTitle{
                font-size: 0.9rem;
            }
        }

        .title{
            text-align: center;
        }
    }
}