@import '../../../styles/variables';

.navbar{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .title{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .icon{
        font-size: 2rem;

        .link{
            text-decoration: none;
            color: $color-primary;
        }
    }
}