.searchContainer{
    text-align: center;
    button{
        height: 2.5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    input{
        height: 2.5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}