.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    button{
        padding: 0.9rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    textarea{
        height: 3.6rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 768px) {
    .searchContainer{
        textarea{
            height: 3rem;
        }
        button{
            padding: 0.6rem;
        }
    }
}