.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    button{
        padding: 1rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    textarea{
        height: 3.8rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}