@import '../../../styles/variables';

.textarea {
    width: 60%;
    font-family: var(--font-principal);
    border: 0.1rem solid $color-tertiary;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    color: $color-text;
    background-color: $color-secondary;
    resize: none;
    outline: none;
    transition: border-color 0.3s;

    
    &::-webkit-scrollbar-thumb {
        background: $color-tertiary;
        border-radius: 0.2rem;
    }
    
    &::-webkit-scrollbar-track {
        background: $color-secondary;
    }

}

@media (max-width: 600px) {
    .input{
        width: 15rem;
    }
}
